In [13]:
import pandas as pd

In [2]:
df=pd.read_csv(r"sucide_data\Suicide_India.csv")#reading the file

In [3]:
df.head()

,State,Year,Type_code,Type,Gender,Age_group,Total
0,A & N Islands,2001,Causes,Illness (Aids/STD),Female,0-14,0
1,A & N Islands,2001,Causes,Bankruptcy or Sudden change in Economic,Female,0-14,0
2,A & N Islands,2001,Causes,Cancellation/Non-Settlement of Marriage,Female,0-14,0
3,A & N Islands,2001,Causes,Physical Abuse (Rape/Incest Etc.),Female,0-14,0
4,A & N Islands,2001,Causes,Dowry Dispute,Female,0-14,0

In [4]:
#data _cleaning
df.replace('A & N Islands', 'A & N Islands (Ut)', inplace=True)
df.replace('Chandigarh', 'Chandigarh (Ut)', inplace=True)
df.replace('D & N Haveli', 'D & N Haveli (Ut)', inplace=True)
df.replace('Daman & Diu', 'Daman & Diu (Ut)', inplace=True)
df.replace('Lakshadweep', 'Lakshadweep (Ut)', inplace=True)
df.replace('Puducherry', 'Puducherry (Ut)', inplace=True)

df.replace('Bankruptcy or Sudden change in Economic', 'Bankruptcy or Sudden change in Economic Status', inplace=True)
df.replace('By Other means (please specify)', 'Other', inplace=True)
df.replace('Other Causes (Please Specity)', 'Other', inplace=True)
df.replace('Others (Please Specify)', 'Other', inplace=True)
df.replace('Not having Children(Barrenness/Impotency', 'Not having Children (Barrenness/Impotency', inplace=True)

In [5]:
 pd.unique(df['Type_code'])

array(['Causes', 'Education_Status', 'Means_adopted',
       'Professional_Profile', 'Social_Status'], dtype=object)

In [6]:
df_a=df.groupby('Type_code')#grouping by Type_code

In [7]:
#creating df by each value of Type_code
def gtgrp(x):
    dfs=df_a.get_group(x)
    return dfs

In [8]:
cause=gtgrp('Causes')
edu=gtgrp('Education_Status')
means=gtgrp('Means_adopted')
professional=gtgrp('Professional_Profile')
social=gtgrp('Social_Status')

In [9]:
#to check the distribution across the Type
def pvtcol(x):
    dfg=pd.pivot_table(df, values = 'Total', index='Gender', columns = (x.Type))#gender
    dfa=pd.pivot_table(df, values = 'Total', index='Age_group', columns = (x.Type))#age
    dfg['max']=(dfg.idxmax(axis=1))#col with max value in a row
    dfa['max']=(dfa.idxmax(axis=1))
    return(dfg,dfa)

In [10]:
gender_causes,age_causes=pvtcol(cause)
gender_edu,age_edu=pvtcol(edu)
gender_means,age_means=pvtcol(means)
gender_prof,age_prof=pvtcol(professional)
gender_social,age_social=pvtcol(social)

In [11]:
def prnttt(x):
    print(x['max'])

In [12]:
prnttt(gender_causes)
prnttt(age_causes)
prnttt(gender_edu)
prnttt(age_edu)
prnttt(gender_means)
prnttt(age_means)
prnttt(gender_prof)
prnttt(age_prof)
prnttt(gender_social)
prnttt(age_social)

Gender
Female    Family Problems
Male      Family Problems
Name: max, dtype: object
Age_group
0-14                       Other
15-29            Family Problems
30-44            Family Problems
45-59            Family Problems
60+      Other Prolonged Illness
Name: max, dtype: object
Gender
Female    Primary
Male      Primary
Name: max, dtype: object
Age_group
0-100+    Primary
Name: max, dtype: object
Gender
Female    By Hanging
Male      By Hanging
Name: max, dtype: object
Age_group
0-14     By Other means
15-29        By Hanging
30-44        By Hanging
45-59        By Hanging
60+          By Hanging
Name: max, dtype: object
Gender
Female    House Wife
Male           Other
Name: max, dtype: object
Age_group
0-14        Student
15-29    House Wife
30-44    House Wife
45-59         Other
60+           Other
Name: max, dtype: object
Gender
Female    Married
Male      Married
Name: max, dtype: object
Age_group
0-100+    Married
Name: max, dtype: object

# Analysis:

## Family problems is the main cause for both male and female
## for age 15-59 Family problems is the main cause, for age 60+,Other Prolonged Illness is the main cause
## Education level in most of the cases is 'Primary' for both male and female
## Most common means is ' By Hanging' for both the genders and  across all the age
## Females who commits sucide are mostly housewife,and House Wife is in majority for age range 15-44 while for age 0-14 mostly are students
## Social status married is most common for both the genders and  across all the age

# What can we do? 

## Family problems is the main cause for almost all the classes which can have many correlations and causes without any additional data we can't comment
## As for most of them 'Education level' is 'Primary' , improving which might reduce these cases
## Housewives and Student are the majority,so there should be some scheme from govt.which employs the housewives(even if it is for shorter period),this will make them independent/less dependent economically so they can stand against any injustice done towards them
## For most of the Students either it is 'fear of failure' or 'unemployment' , which has been in India since ages,because the way our 'education system' is designed and the amount of pressures one has to go through 'for passing the exam'